
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,100&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;

}

header{
    background-color: #1f2937;

}

.header-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0px auto;
    background-color: #1f2937;
    position: fixed;
    
}
#logo {
    font-size: 24px;
    color: #f9faf8;
    margin-left: 90px;

}

nav{
    margin-right: 90px
}

ul{
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 19.20px 0;

}

.header-link, .hero-text p{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb
}

.hero-section{
    display: flex;
    padding: 90px;
    width: 80%;
    margin: 0 auto;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.hero-section img{
    width: 500px;
    flex: 1;
    border-radius: 8px;
}
.hero-text{
    flex: 1;
    text-align: left;
}

.hero-text h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 1000;
}

.hero-text button, .banner-button button{
    padding: 8px 32px;
    font-size: 20px;
    font-weight: 600;
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 8px;
    border: none;

}

.info {
    text-align: center;

}
.info h1 {
    font-size: 38px;
    font-weight: 900;
    color: #1f2937;
    margin: 62px auto;
}

.content{
    display: flex;
    width: 80%;
    margin: 18px auto;
    justify-content: space-evenly;
}



.card-img {
    width: 216px;
    height: 154px;
    border-radius: 8px;
    border: 4px solid #3882f6;
}

.card-text {
    color: #141b23;
    font-size: 20px;
}

.quote {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

blockquote{
    width: 70%;

}

blockquote p {
    color: #1f2937;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    margin: 32px auto;
}

blockquote cite {
    text-align: right;
    font-weight: 600;
    font-size: 28px;
    display: block;
 }
 
 .banner {
    background-color: #3882f6;
    display: flex;
    width: 60%;
    margin: 90px auto;
    padding: 32px;
    justify-content: space-evenly;
    border-radius: 8px;
    color:#f9faf8;
 }

 .banner-text h1{
    margin: 0;
    font-size: 26px;
 }

 .banner-text p{
    font-size: 20px;
    margin: 0;
    color:#f9faf8;
 }
 .banner-button{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .banner-button button {
    border: 3px solid #f9faf8;

 }

 footer {
    background-color:#141b23;
    color:#f9faf8;
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
 }
